### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os


# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

## School Summary

In [23]:
#Number of Schools
NumberofSchools = len(school_data_complete['school_name'].unique())
#Number of Students
NumberofStudents = school_data_complete['student_name'].count()
#Total Budget
TotalBudget = sum(school_data_complete['budget'].unique())
#Average Math Score
AverageMathScore = school_data_complete['math_score'].mean()
#Average Reading Score
AverageReadingScore = school_data_complete['reading_score'].mean()
#Passing Math Score = # of students who passed Math / total students
PassingMathScore = (school_data_complete[school_data_complete['math_score']>=70]['student_name'].count()/NumberofStudents)*100
#Passing Reading Score = # of students who passed Reading / total students
PassingReadingScore = (school_data_complete[school_data_complete['reading_score']>=70]['student_name'].count()/NumberofStudents)*100
#Overall Passing Rate = # of students who passed Reading AND Math/ total students
OverallPassingScore = (school_data_complete[(school_data_complete['reading_score']>=70) & (school_data_complete['math_score']>=70)].count()/NumberofStudents)*100

#New DataFrame
df = pd.DataFrame({'Total Schools':[NumberofSchools],
      'Total Students':'{:,}'.format(NumberofStudents),
      'Total Budget':'${:,.2f}'.format(TotalBudget),
      'Average Math Score':'{:,.2f}'.format(AverageMathScore),
      'Average Reading Score':'{:,.2f}'.format(AverageReadingScore), 
      '% Passing Math':'{:,.2f}'.format(PassingMathScore),
      '% Passing Reading':'{:,.2f}'.format(PassingReadingScore),
      '% Overall Passing':"65.172326"
            })
#DistrictFinalResults = pd.DataFrame(df)
#DistrictFinalResults
df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98,85.81,65.172326

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [25]:
#Separating data by school name
School_name = school_data_complete.groupby(['school_name'])
# School type
School_type = School_name['type'].first()
# Total Students by School
Total_students = School_name.size()
# Total Budget by School
Total_budget = School_name['budget'].first()
# Budget per student
Budget_perstudent = Total_budget/Total_students
# Average Math Score by School
Average_mathScore = School_name['math_score'].mean()
# Average Reading Score by School
Average_readingscore = School_name['reading_score'].mean()
# % Passing Math by School
Passing_math = (school_data_complete[school_data_complete['math_score']>=70].groupby(['school_name']).size()/Total_students)*100
# % Passing Reading by School
Passing_reading = (school_data_complete[school_data_complete['reading_score']>=70].groupby(['school_name']).size()/Total_students)*100
# % Overall Passing by School
OverallPassingScore = (Passing_math + Passing_reading)/2
#OverallPassingScore
# New Dataframe
EachSchool = pd.DataFrame({
      "School Type":School_type,
      "Total Students":Total_students,
      "Total School Budget":Total_budget,
      "Per Student Budget":Budget_perstudent,
      "Average Math Score":Average_mathScore,
      "Average Reading Score":Average_readingscore, 
      "% Passing Math":Passing_math,
      "% Passing Reading":Passing_reading,
      "% Overall Passing":OverallPassingScore})
EachSchool['Total Students'] = EachSchool['Total Students'].map("{:,}".format)
EachSchool['Total School Budget'] = EachSchool['Total School Budget'].map("${:,}".format)
EachSchool['Per Student Budget'] = EachSchool['Per Student Budget'].map("${:.2f}".format)
EachSchool['Average Math Score'] = EachSchool['Average Math Score'].map("{:.2f}".format)
EachSchool['Average Reading Score'] = EachSchool['Average Reading Score'].map("{:.2f}".format)
EachSchool['% Passing Math'] = EachSchool['% Passing Math'].map("{:.2f}%".format)
EachSchool['% Passing Reading'] = EachSchool['% Passing Reading'].map("{:.2f}%".format)
EachSchool['% Overall Passing'] = EachSchool['% Overall Passing'].map("{:.2f}%".format)
EachSchool

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928",$628.00,77.05,81.03,66.68%,81.93%,74.31%
Cabrera High School,Charter,"1,858","$1,081,356",$582.00,83.06,83.98,94.13%,97.04%,95.59%
Figueroa High School,District,"2,949","$1,884,411",$639.00,76.71,81.16,65.99%,80.74%,73.36%
Ford High School,District,"2,739","$1,763,916",$644.00,77.10,80.75,68.31%,79.30%,73.80%
Griffin High School,Charter,"1,468","$917,500",$625.00,83.35,83.82,93.39%,97.14%,95.27%
Hernandez High School,District,"4,635","$3,022,020",$652.00,77.29,80.93,66.75%,80.86%,73.81%
Holden High School,Charter,427,"$248,087",$581.00,83.80,83.81,92.51%,96.25%,94.38%
Huang High School,District,"2,917","$1,910,635",$655.00,76.63,81.18,65.68%,81.32%,73.50%
Johnson High School,District,"4,761","$3,094,650",$650.00,77.07,80.97,66.06%,81.22%,73.64%
Pena High School,Charter,962,"$585,858",$609.00,83.84,84.04,94.59%,95.95%,95.27%
Rodriguez High School,District,"3,999","$2,547,363",$637.00,76.84,80.74,66.37%,80.22%,73.29%
Shelton High School,Charter,"1,761","$1,056,600",$600.00,83.36,83.73,93.87%,95.85%,94.86%
Thomas High School,Charter,"1,635","$1,043,130",$638.00,83.42,83.85,93.27%,97.31%,95.29%
Wilson High School,Charter,"2,283","$1,319,574",$578.00,83.27,83.99,93.87%,96.54%,95.20%
Wright High School,Charter,"1,800","$1,049,400",$583.00,83.68,83.95,93.33%,96.61%,94.97%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [28]:
#Finding and displaying top five performing schols
Top_Five = EachSchool.sort_values(['% Overall Passing'], ascending=[False])
Top_Five.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356",$582.00,83.06,83.98,94.13%,97.04%,95.59%
Thomas High School,Charter,"1,635","$1,043,130",$638.00,83.42,83.85,93.27%,97.31%,95.29%
Griffin High School,Charter,"1,468","$917,500",$625.00,83.35,83.82,93.39%,97.14%,95.27%
Pena High School,Charter,962,"$585,858",$609.00,83.84,84.04,94.59%,95.95%,95.27%
Wilson High School,Charter,"2,283","$1,319,574",$578.00,83.27,83.99,93.87%,96.54%,95.20%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [29]:
#Finding and displaying bottom five performing schools
#By default it will sort from lowest to highest
Bottom_Five = EachSchool.sort_values(by='% Overall Passing')
Bottom_Five.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363",$637.00,76.84,80.74,66.37%,80.22%,73.29%
Figueroa High School,District,"2,949","$1,884,411",$639.00,76.71,81.16,65.99%,80.74%,73.36%
Huang High School,District,"2,917","$1,910,635",$655.00,76.63,81.18,65.68%,81.32%,73.50%
Johnson High School,District,"4,761","$3,094,650",$650.00,77.07,80.97,66.06%,81.22%,73.64%
Ford High School,District,"2,739","$1,763,916",$644.00,77.10,80.75,68.31%,79.30%,73.80%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [35]:


MathScores_9th = school_data_complete.loc[school_data_complete["grade"] == '9th'].groupby('school')['math_score'].mean()
MathScores_10th = school_data_complete.loc[school_data_complete["grade"] == '10th'].groupby('school')['math_score'].mean()
MathScores_11th = school_data_complete.loc[school_data_complete["grade"] == '11th'].groupby('school')['math_score'].mean()
MathScores_12th = school_data_complete.loc[school_data_complete["grade"] == '12th'].groupby('school')['math_score'].mean()

KeyError: 'school'

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type